{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}<title>{% trans 'Statuses' %}</title>{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">

    <h1 class="my-4">{% trans 'Statuses' %}</h1>

    <a href="{% url 'status_add' %}">
        <button class="btn btn-outline-dark" style="margin-bottom: 7px">{% trans 'Create' %}</button>
    </a>
    <table class="table table-hover table-striped table-bordered">
        <thead align="center">
        <tr>
            <th>ID</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Created at' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for st in statuses_list %}
        <tr>
            <td align="center">{{ st.pk }}</td>
            <td align="center">{{ st.name }}</td>
            <td align="center">{{ st.created_at|date:"d.m.Y H:i" }}</td>
            <td align="center">
                <a href="{% url 'status_update' st.pk %}" style="display: inline-block">
                    <button class="btn btn-outline-secondary btn-sm">{% trans 'Update' %}</button>
                </a>
                <a href="{% url 'status_delete' st.pk %}" style="display: inline-block">
                    <button class="btn btn-outline-secondary btn-sm">{% trans 'Delete' %}</button>
                </a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}