{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block title %}{% endblock %}

    <!-- Bootstrap core CSS -->
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load bootstrap4 %}
    {% load i18n %}
    {% bootstrap_javascript jquery='full' %}
      <link rel="stylesheet" href="{% static 'style.css' %}">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
    rel="stylesheet">
  </head>

  <body>

    {% include 'inc/_nav.html' %}

    <div class="container wrapper flex-grow-1">
      {% bootstrap_messages %}
    </div>

    {% block content %}
      CONTENT
    {% endblock %}

  </body>
</html>
