<!doctype html>
<html lang="en">
  <head>
    {% block title %}{% endblock %}

    <!-- Bootstrap core CSS -->
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load bootstrap4 %}
    {% load i18n %}
    {% bootstrap_javascript jquery='full' %}
  </head>

  <body>

    {% include 'inc/_nav.html' %}

    <div class="container wrapper flex-grow-1">
      {% bootstrap_messages %}
    </div>

    {% block content %}
      CONTENT
    {% endblock %}

  </body>
</html>
